.eui-u-disabled {
    background-image: none !important;
    box-shadow: none !important;
    cursor: not-allowed !important;
    opacity: var(--eui-o-50) !important;
    // pointer-events: none !important;
}
