.eui-u-cursor-pointer {
    cursor: pointer !important;
}

.eui-u-cursor-default {
    cursor: default !important;
}

.eui-u-cursor-help {
    cursor: help !important;
}

.eui-u-cursor-move {
    cursor: move !important;
}

.eui-u-cursor-crosshair {
    cursor: crosshair !important;
}

.eui-u-cursor-wait {
    cursor: wait !important;
}

.eui-u-cursor-progress {
    cursor: progress !important;
}

.eui-u-cursor-text {
    cursor: text !important;
}

.eui-u-cursor-no-drop {
    cursor: no-drop !important;
}

.eui-u-cursor-not-allowed {
    cursor: not-allowed !important;
}

.eui-u-cursor-grab {
    cursor: grab !important;
}
