// COLOR

$color-map: (
    branding: (
        120: #003676,
        100: #004494,
        80: #3369a9
    ),
    primary: (
        160: #001b3b,
        140: #002959,
        130: #003068,
        120: #003676,
        110: #003d85,
        100: #004494,
        80: #3369a9,
        60: #668fbf,
        40: #99b4d4,
        20: #ccdaea,
        10: #e6ecf4,
        5: #f2f6fa,
        0: #fff
    ),
    neutral: (
        160: #000,
        140: #000,
        130: #000,
        120: #000,
        110: #000,
        100: #000,
        80: #333,
        60: #666,
        40: #999,
        20: #ccc,
        10: #e6e6e6,
        5: #f2f2f2,
        3: #f7f7f7,
        2: #fafafa,
        0: #fff
    ),
    accent: (
        160: #665200,
        140: #997a00,
        130: #b38f00,
        120: #cca300,
        110: #e6b800,
        100: #fc0,
        80: #ffd633,
        60: #ffe066,
        40: #ffeb99,
        20: #fff5cc,
        10: #fffae6,
        5: #fffcf2,
        0: #fff
    ),
    info: (
        160: #00243a,
        140: #003658,
        130: #003f66,
        120: #004875,
        110: #005183,
        100: #005a92,
        80: #337ba8,
        60: #669cbe,
        40: #99bdd3,
        20: #ccdee9,
        10: #e6eff4,
        5: #f2f7fa,
        0: #fff
    ),
    success: (
        160: #082700,
        140: #0b3a00,
        130: #0d4400,
        120: #0f4e00,
        110: #115700,
        100: #136100,
        80: #428133,
        60: #71a066,
        40: #a1c099,
        20: #d0dfcc,
        10: #e7efe6,
        5: #f3f7f2,
        0: #fff
    ),
    warning: (
        160: #66461f,
        140: #99692f,
        130: #b37b37,
        120: #cc8c3e,
        110: #e69e46,
        100: #ffaf4e,
        80: #ffbf71,
        60: #ffcf95,
        40: #ffdfb8,
        20: #ffefdc,
        10: #fff7ed,
        5: #fffbf6,
        0: #fff
    ),
    danger: (
        160: #480000,
        140: #6d0000,
        130: #7f0000,
        120: #910000,
        110: #a30000,
        100: #b50000,
        80: #c43333,
        60: #d36666,
        40: #e19999,
        20: #f0cccc,
        10: #f8e6e6,
        5: #fbf2f2,
        0: #fff
    )
);
