// COLORS

$color-map: (
    branding: (
        120: #003676,
        110: #014592,
        100: #004494,
        80: #0057BD,
        60: #0069E6,
        40: #0F7DFF,
        20: #3894FF,
        10: #61AAFF,
        5: #8AC0FF,
        2: #DBECFF,
        0: #fff
    ),
    primary: (
        160: #fff,
        140: #f3f6fa,
        120: #d8e0fb,
        110: #b1c0f8,
        100: #89a1f4,
        80: #5577f0,
        60: #3860ed,
        40: #2651eb,
        20: #143fd9,
        10: #1338bd,
        5: #0f2fa2,
        0: #0a1f6c
    ),
    neutral: (
        0: #131313,
        2: #1d1d1d,
        3: #262626,
        5: #2b2b2b,
        10: #303030,
        20: #595959,
        40: #838383,
        60: #acacac,
        80: #d6d6d6,
        100: #eaeaea,
        110: #f5f5f5,
        120: #f9f9f9,
        140: #fcfcfc,
        160: #fff        
    ),
    cta: (
        160: #fff,
        140: #fff9ef,
        120: #ffebcc,
        110: #ffe1b4,
        100: #ffd392,
        80: #ffcb7d,
        60: #ffbe5c,
        40: #fea439,
        20: #fc8713,
        10: #ed6c09,
        5: #c55109,
        0: #a84304
    ),    
    accent: (
        160: #fff,
        140: #fffcf7,
        120: #fff2de,
        110: #ffe5be,
        100: #ffd89d,
        80: #ffcb7c,
        60: #ffbe5c,
        40: #ffb74d,
        20: #ffad33,
        10: #ffa724,
        5: #ff9d0a,
        0: #e08700
    ),
    info: (
        0: #033863,
        5: #044e8b,
        10: #04579b,
        20: #0462ae,
        40: #046abd,
        60: #0578d6,
        80: #2791e7,
        100: #51a6ec,
        110: #8cc5f2,
        120: #c8e3f9,
        140: #f0f7fd,
        160: #fff
    ),
    success: (
        160: #fff,
        140: #f4faf6,
        120: #d3ecda,
        110: #a7d9b6,
        100: #7cc791,
        80: #50b46d,
        60: #24a148,
        40: #209141,
        20: #1d813a,
        10: #197132,
        5: #16612b,
        0: #0e401d
    ),
    warning: (
        160: #fff,
        140: #fefaf3,
        120: #fdeacf,
        110: #fad6a0,
        100: #f8c170,
        80: #f5ad41,
        60: #f39811,
        40: #db890f,
        20: #c27a0e,
        10: #aa6a0c,
        5: #925b0a,
        0: #613d07
    ),
    danger: (
        160: #fff,
        140: #fdf4f4,
        120: #f8d2d4,
        110: #f0a5a9,
        100: #e9787e,
        80: #e14b53,
        60: #da1e28,
        40: #c41b24,
        20: #ae1820,
        10: #99151c,
        5: #831218,
        0: #570c10
    )
);