@use 'hacks';

@mixin eui-anim--slideInLeft {
    @include hacks.hacks();
    @keyframes eui-anim--slideInLeft {
        from {
            opacity: 0;
            transform: translate3d(-50%, 0, 0);
            visibility: visible;
        }

        to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
    animation-name: eui-anim--slideInLeft;
    animation-duration: var(--eui-base-animation-duration-medium);
    backface-visibility: visible;
}
